@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,500&display=swap');


/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
	position: sticky;
	top: 0rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-right: 10;
	border-right: 4px solid #efefef;
	background-color: rgba(66,65,96,0.58);
	/*border-radius: 10px*/
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /*don't change this ever*/
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}

/** Poor man's reset **/
* {
	box-sizing: border-box;
}

html, body {
	background: #4A47A4;
	background: -moz-linear-gradient(left, #4A47A4 0%, #BDC7CB 50%, #4A47A4 100%);
	background: -webkit-linear-gradient(left, #4A47A4 0%, #BDC7CB 50%, #4A47A4 100%);
	background: linear-gradient(to right, #4A47A4 0%, #BDC7CB 50%, #4A47A4 100%);
}

body {
	font-family: "Abril Fatface", cursive;
	font-size: 22px;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}

h1 {
	font-weight: 300;
}

/** page layout **/
main {
	display: grid;
	grid-template-columns: 1fr 3fr ;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	/*margin-left: 20px;*/
}
.details {
	margin-left: 3rem;
}

section {
	padding-bottom: 20rem;
}